

.butterfly-bg {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(120deg, #fdeff9, #e1f5fe);
  background-size: 400% 400%;
  animation: bgMove 10s ease infinite;
  padding: 30px 0;
  z-index: 0;
}

.butterfly {
  width: 200px;
  height: 200px;
  background-image: url('../assets/vecteezy_ice-cream-cup-isolated-on-transparent-background_47424468 (1).png');
  background-size: cover;
  position: absolute;
  animation: fly 12s linear infinite;
  opacity: 0.9;
  z-index: 1;     
}

.table-container {
  position: relative;
  z-index: 10;   
}


@keyframes bgMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.butterfly {
  width: 200px;
  height: 200px;
  background-image: url('../assets/vecteezy_ice-cream-cup-isolated-on-transparent-background_47424468\ \(1\).png'); 
  background-size: cover;
  position: absolute;
  animation: fly 12s linear infinite;
  opacity: 0.9;
}

.b1 { top: 20%; left: -10%; animation-duration: 17s; }
.b2 { top: 40%; left: -15%; animation-duration: 10s; }
.b3 { top: 60%; left: -20%; animation-duration: 16s; }
.b4 { top: 70%; left: -12%; animation-duration: 12s; }
.b5 { top: 50%; left: -48%; animation-duration: 20s; }

@keyframes fly {
  0%   { transform: translateX(0) translateY(0) scale(1); }
  25%  { transform: translateX(20vw) translateY(-10vh) scale(1.1); }
  50%  { transform: translateX(40vw) translateY(10vh) scale(0.9); }
  75%  { transform: translateX(60vw) translateY(-5vh) scale(1.2); }
  100% { transform: translateX(100vw) translateY(0) scale(1); }
}



.fade-in {
  animation: fadeIn 0.9s ease-in-out;
}
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.slide-up {
  animation: slideUp 0.10s ease-out;
}
@keyframes slideUp {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.fade-row { animation: fadeRow 1s ease-in-out; }
@keyframes fadeRow { from { opacity: 0; } to { opacity: 0; } }

.row-animate {
  animation: rowPop 0.6s ease-in-out;
}
@keyframes rowPop {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

.zoom-btn {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.zoom-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}
